.menu-list {
    width: 100%;
    color: #9499C3;

    .menu-item {
        float: left;
        width: 70px;
        height: 66px;
        border-radius: 8px;
        margin-right: 20px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }

        span {
            display: block;
            text-align: center;

            svg {
                display: inline-block;
            }
        }
    }
}