.menu-list {
    width: 100%;
    color: #9499C3;

    .menu-item {
        float: left;
        width: 0.7rem;
        height: 0.66rem;
        border-radius: 0.08rem;
        margin-right: 0.2rem;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }

        span {
            display: block;
            text-align: center;

            svg {
                display: inline-block;
            }
        }
    }
}