header {
    .header-title {
        font-family: Poppins;
        font-size: 0.14rem;
        letter-spacing: 0.015rem;
    }

    .icon-header {
        display: inline-block;
        vertical-align: middle;
        margin: 0.05rem;
    }
}