.layout-container {
    width: 100%;

    section {
        border-radius: 0;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
    }

    .homepage-layout {
        display: flex;
        flex-direction: row;
        padding: 0 0.1rem 0.1rem 0.32rem;
    }

    header {
        text-align: left;
        color: #fff;
        height: 0.8rem;
        line-height: 0.8rem;
    }

    aside {
        flex: 0 0 calc(100% - 10rem);
        max-width: calc(100% - 10rem);
        min-width: calc(100% - 10rem);
        width: calc(100% - 10rem);
        padding-right: 0.1rem;
    }

    main {
        max-width: 10rem;
        height: 100%;
    }
}

.create-minner-form-text {
    font-weight: 600;
    font-size: 0.16rem;
    color: #fff;
    text-align: center;
}

.mar-t-l {
    margin: 0.3rem 0 0.15rem 0;
}

.create-minner-form-content {

    .create-minner-form-item {
        display: flex;

        .ant-form-item {
            width: 33%;
        }
    }

    .create-minner-form-footer {
        .ant-form-item {
            width: 100%;
            margin-bottom: 0.12rem;
        }

    }

    .ant-input-number {
        width: 92%;
    }
}

.modal-content {
    font-weight: 600;
    font-size: 0.16rem;
    color: #fff;
    text-align: center;
}

.icon-create-miner {
    display: inline-block;
    vertical-align: text-bottom;
}