@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Lato, Poppins;
    min-height: 100%;
}

html {
    font-size: 100px;
}

@font-face {
    font-family: Poppins;
    src: url('../src/assets/fonts/poppins/poppins-v15-latin-regular.eot'),
        url('../src/assets/fonts/poppins/poppins-v15-latin-regular.svg') format('svg'),
        url('../src/assets/fonts/poppins/poppins-v15-latin-regular.ttf') format('truetype'),
        url('../src/assets/fonts/poppins/poppins-v15-latin-regular.woff') format('woff'),
        url('../src/assets/fonts/poppins/poppins-v15-latin-regular.woff2') format('woff2'),
}

@font-face {
    font-family: Lato;
    src: url('../src/assets/fonts/lato/lato-v17-latin-700.eot'),
        url('../src/assets/fonts/lato/lato-v17-latin-700.ttf') format('truetype'),
        url('../src/assets/fonts/lato/lato-v17-latin-700.woff') format('woff'),
        url('../src/assets/fonts/lato/lato-v17-latin-700.woff2') format('woff2'),
        url('../src/assets/fonts/lato/lato-v17-latin-regular.eot'),
        url('../src/assets/fonts/lato/lato-v17-latin-regular.ttf') format('truetype'),
        url('../src/assets/fonts/lato/lato-v17-latin-regular.woff') format('woff'),
        url('../src/assets/fonts/lato/lato-v17-latin-regular.woff2') format('woff2'),
        url('../src/assets/fonts/lato/lato-v17-latin-700.svg') format('svg'),
        url('../src/assets/fonts/lato/lato-v17-latin-regular.svg') format('svg');
}

.font-green {
    color: #00CF67;
}

.font-red {
    color: #EB5757;
}

.ant-layout {
    background: #191A29;
}

.ant-layout-header {
    background: #191A29;
}

.ant-layout-header {
    padding: 0 0.32rem;
}

.ant-table-wrapper .ant-table-thead>tr>th {
    color: #fff;
    font-weight: 700;
    text-align: start;
    background: #191A29;
    font-size: 0.1rem;
    border-bottom: 0.005rem solid #9499C3;
}

.ant-table-wrapper .ant-table-tbody>tr>td {
    color: #fff;
    border-bottom: 0.005rem solid #9499C3;
    background: #191A29;
    color: #9499C3;
    font-size: 0.11rem;
}

.ant-table-wrapper .ant-table-tbody>tr>td,
.ant-table-wrapper .ant-table-thead>tr>th {
    font-family: Lato;
    padding: 0.08rem 0.05rem;
    min-height: 0.35rem;
}


.ant-table-wrapper .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
}

.ant-table-wrapper.ant-table-tbody .ant-table-row>.ant-table-cell-row-hover {
    background: transparent;
}

.ant-modal .ant-modal-content {
    border-radius: 0.12rem;
    background: #1A1B2F;
}

.ant-modal .ant-modal-header {
    text-align: center;
    background: transparent;
}

.ant-modal .ant-modal-title {
    color: #fff;
}

.ant-pagination .ant-pagination-item-active {
    background-color: transparent;
    border-color: #9499C3;
}

.ant-pagination-item-active a,
.ant-pagination .ant-pagination-item a,
.ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis,
.ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
.ant-pagination .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon {
    color: #fff
}

.ant-pagination .ant-pagination-next .ant-pagination-item-link .anticon svg,
.ant-pagination .ant-pagination-disabled .ant-pagination-item-link .anticon svg,
.ant-pagination .ant-pagination-prev .ant-pagination-item-link .anticon svg,
.ant-modal .ant-modal-close-x .anticon svg {
    fill: #fff;
}

.ant-modal .ant-modal-close-x .anticon svg {
    padding-left: 0.04rem
}

.ant-modal .ant-modal-close-x span {
    background: #31324B;
    border-radius: 50%;
    width: 0.2rem;
    height: 0.2rem;
}

.miner-table-content .ant-table-wrapper .ant-table-thead>tr>th,
.miner-table-content .ant-table-wrapper .ant-table-tbody>tr>td {
    background: #1A1B2F;
}

.ant-table-wrapper .ant-table-tbody>tr>td a {
    color: #00F0FF;
}

.ant-table-body {
    overflow-y: auto !important;
    scrollbar-width: none;
}

.ant-table-body::-webkit-scrollbar {
    display: none;
}

.ant-table-wrapper .ant-table {
    border-radius: 0;
    background: #1A1B2F;
}

.ant-form-item .ant-form-item-label>label {
    color: #9499C3;
    font-size: 0.11rem;
}

.ant-form-item .ant-form-item-control-input {
    min-height: 0.36rem;
}

.ant-input-number-outlined,
.ant-input-outlined,
.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    background: #242538;
    border-color: #1A1C31
}

.ant-input-number .ant-input-number-input,
.ant-select-single .ant-select-selector {
    border-radius: 0.04rem;
    color: #fff
}

.ant-input,
.ant-input-number .ant-input-number-input {
    padding: 0.06rem 0.11rem;
    border-radius: 0.044rem;
    color: #fff
}

.ant-input:hover,
.ant-input-number:hover {
    background-color: #242538;
}

.ant-input:hover,
.ant-input-number:hover {
    border-color: #1A1C31;
}

.ant-input-number .ant-input-number-handler-down-inner {
    color: #fff;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input,
.ant-select-single {
    height: 0.36rem;
}

.ant-btn {
    width: 0.9rem;
    height: 0.28rem;
    background: #E1E2EF;
    color: #1A1B2F;
    border-radius: 0.08rem;
    line-height: 0.2rem;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background: #E1E2EF;
    color: #1A1B2F;
}

.ant-col-24.ant-form-item-label {
    padding: 0;
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled),
.ant-input-number-outlined.ant-input-number-status-error:not(.ant-input-number-disabled) {
    background: transparent;
    color: #EB5757
}

.ant-form-item .ant-form-item-explain-error {
    color: #EB5757;
    font-size: 0.09rem;
}

.ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    content: ''
}

.custom-select {

    .ant-select-selector {
        .ant-select-selection-placeholder {
            color: #999;
        }
    }
}

.ant-select {
    .ant-select-arrow {
        color: #fff
    }
}

.ant-input-outlined:focus-within,
.ant-input-number-outlined:focus-within {
    background-color: transparent;
}

.ant-input-number .ant-input-number-input {
    transition: none;
}